<ion-app>
  <ion-split-pane contentId="main">
    <ion-menu side="start" contentId="main" *ngIf="usuarioLogado">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item id="cabecalho-menu" class="cabecalho-menu">
          <div>
            <ion-avatar slot="start">
              <img [src]="avatar" />
            </ion-avatar>
          </div>
          <div style="flex-direction: column;">
            <h3>{{ usuarioLogado.nome }}</h3>
            <p>{{ usuarioLogado.email }}</p>
          </div>
        </ion-item>

        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
            <ion-item [routerLink]="page.url" routerDirection="root" [class.active-item]="selectedPath === page.url">
              <ion-icon [name]="page.icon"></ion-icon>
              {{ page.title }}
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main" main></ion-router-outlet>
  </ion-split-pane>
</ion-app>